body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(239, 239, 241) 0%, rgba(226,231,231,1) 35%, rgb(237, 240, 241) 100%);
    padding: 50px;
  }
  
.container {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    background-color: yellow;
    
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #080808;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #0b0b0b;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    justify-content: center;
    
    
  }
  
  button {
    background: linear-gradient(120deg, #0f0f0fd8, #a4a1a1da);
    color: #fff;
    cursor: pointer;
    max-width: 100%; /* Defina a largura desejada */
    height: 30px; /* Defina a altura desejada */
    /*padding: 20px; /* Ajuste o espaçamento interno */
    display: flex;
    text-align: center;
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
  }
  
  .newAccount {
    display: flex;
    justify-content: space-around;
  }
  

  
 